*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.25rem;
    font-family:'inter', sans-serif;
    margin: 2rem;
    background: #F8F8F9;
}

main{
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}


.container-estatisticas{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}



.cards-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-width: 450px;

}


.card-estatistica{
   
    width: 100%;  
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding:30px;
    justify-content: center;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #fff;
}

.card-estatistica.blue{
    background: #1480EB;
    color: #fff;
}

.cards-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cards-items .card-estatistica{
   flex: 1;
   min-width: 240px;
}

.card-estatistica.status{
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
    height: 100%;
    
}

#status{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#status p{
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
}


#status p::before{
    content: " ";
    background: #1480EB;
    border-radius: 50%;
    padding: 5px;


}

#status p:nth-child(1):before{
    background: #1C9912;
}

#status p:nth-child(2):before{
    background: #FF1616;
}

#status p:nth-child(3):before{
    background: #FFC700;
}

#status p:nth-child(4):before{
    background: #707070;
}


#pagamento{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pagamento p, #status p{
   font-weight: 500;
}


.card-estatistica small{
    font-size: 18px;
    font-weight: 500;
    color: #577694;
}

.card-estatistica.blue small{
    color: #fff;
}

.card-estatistica-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    align-items: center;

}

.card-estatistica span{
    font-size: 28px;
   
}

#pagamento span, #status span{
    color: #1480EB;
    font-size: 20px;
}

#dia span{
    color: #1480EB;
}


table{
    border-spacing: 0;
    text-align: left;
}

table td, table th{
    padding: .5rem 1rem;
}

table tbody tr:nth-child(odd){
    background-color: ghostwhite;
    
}



h2{
    padding-top: 1rem;
}

/*tabela*/

.tabela-historico{
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    
}


.table-container{
    max-width: 1200px;
    width: 100%;
    overflow-x: scroll;
}

.tabela-historico div table{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

@media screen and (max-width:500px) {
    .cards-container{
        min-width:initial ;
    }
    
}